// SIZES
$dh-footer-heigth: 80px;
$dh-nav-height: 50px;
$dh-nav-container-height: 220px;
$dh-nav-container-height-mobile: 120px;
$dh-top-containers: 200px;
$dh-s-1: 1rem;
$dh-s-2: 2rem;
$dh-s-3: 3rem;
$dh-s-5: 5rem;

// COLORS
$dh-black-1: #3d3d3d;

// SCREENS
$dh-mobile: 750px;
